/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
$font-family: "Atkinson Hyperlegible", sans-serif;

/* Force side-by-side layout for all screen sizes */
.column-screen-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

/* Reduce gap between columns in timeline section */
.tabset-panel .columns {
  column-gap: 2%;
}